name: Fetch latest data
on:
  workflow_dispatch:
  schedule:
    - cron: '30 3 * * *'
jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch latest data
        run: |-
          make fetch
      - name: Push latest data
        run: |-
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add data
          git commit -m 'Fetch latest data' || exit 0
          git tag "v$(TZ=America/Toronto date +'%Y.%m.%d')"
          git push && git push --tags
      - name: Trigger release workflow
        run: |-
          gh api /repos/benwebber/open-data-toronto-rentsafe/actions/workflows/release.yaml/dispatches --raw-field ref="$(git describe --tags HEAD)"
